* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

/* Start of header */
header {
    height: 600px;
    width: 100%;
}

/* Start of header-up*/
.header-up {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-up-left, .h-up-right {
    display: flex;
    align-items: center;
}

.h-up-left > div, .h-up-right > div {
    padding: 0px 15px;
}
/* End of header-up*/

/* Start of header-down */
.header-down {
    background-color: #b4d0e7;
    height: 470px;
}

.h-down-center {
    height: 450px;
    width: 80%;
    margin: 50px auto 0px auto;
}

.h-down-center > div {
    display: flex;
}

.h-down-center > h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.h-down-center-container {
    height: 350px;
}

.h-down-center-container > .content-left {
    width: calc(100% / 3);
    text-align: start;
    padding-left: 20px;
}

.content-left > .button {
    display: inline-block;
}

.content-left {
    position: relative;
}

.fa-arrow-down {
    font-size: 26px;
    position: absolute;
    left: 20px;
    bottom: 90px;
}

.h-img {
    width: calc(100% / 3 * 2);
    background-image: url('../img/jumbo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* End of header-down */
/* End of header */

/* Start of main */
/* Start of main-container-1 */
.main-container-1 {
    width: 70%;
    margin: 50px auto 0px auto;
}

.m-content-1 {
    height: 200px;
    width: 100%;
    border: solid 1px #e5e5e7;
}

.m-content-1.first {
    height: 70px;
}

/* Start of first row */
.m-content-1 > .first-title {
    font-size: 30px;
}
/* End of first row */

/* Start of second row */
.m-content-1.second {
    display: flex;
    height: 40px
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: grey solid 2px;
    margin-right: 5px;
}

.circle.selected {
    border: #0061ff solid 6px;
}

.left-circle-text {
    margin-right: 40px;
}
/* End of second row */

/* Start of third row */
.m-content-1.third {
    display: flex;
    height: 900px;
}

.third-row-column {
    width: calc(100% / 3 - 20px);
    border: dashed 2px red;
    height: 100%;
    border: solid 1px #e5e5e7;
}

.third-row-column.left, .third-row-column.center {
    margin-right: 30px;
}

/* Start of first column, third row in main */
.column-up {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px #e5e5e7;
}

.column-down {
    width: 100%;
    padding: 20px;
}

.column-down > h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.column-down > .price {
    margin-bottom: 10px;
}

.column-down > .payday {
    margin-bottom: 30px;
}

.column-down > .online-archive {
    margin: 10px 0px;
}

.online-archive > i {
    padding-right: 5px;
}

.column-down > .premium-functionality {
    margin-bottom: 30px;
}

.premium-functionality > i {
    margin-right: 5px;
}

.column-down > .button {
    text-align: center;
    margin-bottom: 10px;
}

.column-down > .row {
    border: #e5e5e7 solid 0.5px;
    width: 40%;
    margin: 30px 0px;
}

.column-down > h4 {
    font-size: 14px;
    margin-bottom: 15px;
}

.fa-check {
    color: #0061ff;
}

.column-down > .plan-info {
    margin-bottom: 15px;
}
/* End of first column, third row in main */
/* End of third row */

/* Start of fourth row */
/* Start of fourth row up */
.fourth-row.up {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #e5e5e7;
}
/* End of fourth row up */
/* Start of fourth-row down */
.fourth-row.down {
    border: solid 1px #e5e5e7;
    padding: 20px;
}

.fourth-row.down .up-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourth-row.down .up-content > h2 {
    font-size: 20px;
}

.fourth-row.down > .p1 {
    margin-bottom: 30px;
    font-weight: bold;
}
/* End of fourth-row down */
/* End of fourth row */

/* Start of fifth row */
.m-content-1.fifth {
    height: 500px;
    padding: 50px;
}

.m-content-1.fifth > .img {
    width: calc(100% / 3 * 2);
    height: 100%;
    background-image: url('../img/partner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.m-content-1.fifth > .description {
    width: calc(100% / 3);
    float: right;
    padding: 20px;
}

.description > h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.description > .button {
    margin-top: 20px;
    width: 70%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
/* End of fifth row */

/* Start of sixth row */
.m-content-1.sixth {
    height: 1100px;
}

.m-content-1.sixth > h1 {
    font-size: 30px;
}

.container-sixth-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.content-sixth-row {
    width: calc(100% / 3 - 20px);
    height: 450px;
    background-color: red;
    border: 1px solid #fff;
}

.content-sixth-row.first, .content-sixth-row.second {
    margin-right: 30px;
}

.content-sixth-row.first, .content-sixth-row.second, .content-sixth-row.third {
    margin-bottom: 20px;
}

.content-sixth-row > div.img-1 {
    background-image: url('../img/business-feature-switching-tools.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.content-sixth-row > h3 {
    margin-top: -80px;
    font-size: 18px;
}

.content-sixth-row > p {
    margin-top: 30px;
}

.content-sixth-row > div.img-2 {
    background-image: url('../img/business-feature-send-files-it.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.content-sixth-row > div.img-3 {
    background-image: url('../img/business-feature-coordinate-it.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.content-sixth-row > div.img-4 {
    background-image: url('../img/business-feature-integrations-it.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.content-sixth-row > div.img-5 {
    background-image: url('../img/business-feature-multi-device.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.content-sixth-row > div.img-6 {
    background-image: url('../img/business-feature-security.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}
/* End of sixth row */
/* Start of seventh row */
.m-content-1.seventh > h1 {
    font-size: 30px;
    margin-bottom: 40px;
}
/* End of seventh row */

/* End of main-container-1 */

/* Start of main-container-2*/
.main-container-2 {
    width: 100%;
}

/* Start of m-container-2-up */
.m-container-2-up {
    height: 366px;
    display: flex;
}

.big-square {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.small-square {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

/* Start of left square*/
.small-square.one {
    background-image: url('../img/designit.svg');
    background-color: #a2d39b;
}

.small-square.two {
    background-image: url('../img/arizona_state_university.svg');
    background-color: #61082b;
}

.small-square.three {
    background-image: url('../img/university_of_florida.svg');
    background-color: #0093ce;
}

.small-square.four {
    background-image: url('../img/topps.svg');
    background-color: #ff1c1c;
}

.big-square > div {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
/* End of left square*/

/* Start of center square*/
.big-square.center {
    background-color: #f5f5f5;
}

.big-square.center > .container {
    margin: 5%;
}

.big-square.center > .container > img {
    width: 60%;
    object-fit: contain;
}

.big-square.center > .container > .row {
    margin: 40px 0px;
    border: 1px solid #d2d2d5;
    width: 30%;
}

.big-square.center > .container > .p1 {
    margin-bottom: 20px;
}
/* End of center square*/

/* Start of right square */
.small-square.five {
    background-image: url('../img/world_bicycle_relief.svg');
    background-color: #d5001f;
}

.small-square.six {
    background-image: url('../img/hearst_corp.svg');
    background-color: #b4d0e7;
}

.small-square.seven {
    background-image: url('../img/lonely_planet.svg');
    background-color: #0d2481;
}

.small-square.eight {
    background-image: url('../img/clear_channel.svg');
    background-color: #ffd830;
}
/* End of right square */

/* End of m-container-2-up */

/* Start of m-container-2-down */
.m-container-2-down {
    display: flex;
    align-items: center;
    background-color: #b4d0e7;
    height: 200px;
}

.m-content-2-down {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.m-content-2-down > h1 {
    font-size: 30px;
    color: #611341;
    width: calc(100% / 3 * 2);
}

.m-content-2-down > div.button {
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 0px;
    right: 0px;
}
/* End of m-container-2-down */
/* End of main-container-2*/

/* Start of main-container-1 bottom */
.main-container-1.bottom {
    margin-bottom: 50px;
    height: 500px;
}

.m-content-1.bottom {
    height: 100%;
}

.m-content-1.bottom > h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.m-content-1 > .row {
    width: 100%;
    margin: 40px 0px;
    border: 1px solid #d2d2d5;
}

.sub-sub-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.hidden.one {
    display: none;
}

.sub-container:hover .hidden.one {
    display: block;
}

.icon-close {
    display: none;
}

.sub-container:hover .icon-close {
    display: block;
}

.sub-container:hover .icon-open {
    display: none;
}

/* Start of footer */
footer {
    width: 100%;
}

/* Reusable code */
.button {
    background-color: #0061ff;
    color: #fff;
    padding: 15px;
}

/* Following code is used only for debug purposes*/
.debug {
    border: 1px dashed red;
}

/* start of header*/
header.debug {
    background-color: aqua;
}
/*
.header-up {
    background-color: antiquewhite;
}*/
/*
.header-up > div {
    background-color: blueviolet;
}*/



.h-down-center {
    background-color: lightpink;
}

/* start of main */
.m-content-1 {
    background-color: blueviolet;
}

.m-container-2-up {
  

}

.m-content-1.bottom {
    background-color: lightcyan;

}

/* start of footer */

footer {
    height: 400px;
    background-color: lightgoldenrodyellow;
}

.footer-container {
    width: 80%;
    margin: 50px auto;
    height: 200px;
    background-color: lightgray;
}
/* Best viewed with 1200px width */

/* To do list:
+ clickable links
+ all buttons = same style
+ position fixed for top header
+ 