* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start of header */
header {
    height: 600px;
    width: 100%;
}
/* Start of header-up*/
.header-up {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Start of header-down */
.header-down {
    background-color: #b4d0e7;
}

.h-down-center {
    margin: 50px auto 0px auto;
}

/* Start of main */
/* Start of main-container-1 */
.main-container-1 {
    width: 70%;
    margin: 50px auto 0px auto;
}

.main-container-2 {
    width: 100%;
}

.m-content-2-down {
    width: 70%;
    margin: auto;
}

.main-container-1.bottom {
    margin-bottom: 50px;
}

/* Following code is used only for debug purposes*/
.debug {
    border: 1px dashed red;
}

/*header*/
header.debug {
    background-color: aqua;
}

.header-up {
    background-color: antiquewhite;
}

.header-up > div {
    width: 150px;
    height: 100%;
    background-color: blueviolet;
}

.header-down {
    height: 450px;
}

.h-down-center {
    height: 450px;
    width: 80%;
    background-color: black;
}

/* main */
.m-content-1 {
    width: 100%;
    height: 200px;
    background-color: blueviolet;
}

.m-container-2-up {
    background-color: lightblue;
    height: 100px;
}

.m-container-2-down {
    background-color: lightcoral;
    height: 100px;
}

.m-content-1.bottom {
    background-color: lightcyan;
    height: 100px;
}