* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

/* Start of header */
header {
    height: 600px;
    width: 100%;
}

/* Start of header-up*/
.header-up {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-up-left, .h-up-right {
    display: flex;
    align-items: center;
}

.h-up-left > div, .h-up-right > div {
    padding: 0px 15px;
}
/* End of header-up*/

/* Start of header-down */
.header-down {
    background-color: #b4d0e7;
    height: 470px;
}

.h-down-center {
    height: 450px;
    width: 80%;
    margin: 50px auto 0px auto;
}

.h-down-center > div {
    display: flex;
}

.h-down-center > h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.h-down-center-container {
    height: 350px;
}

.h-down-center-container > .content-left {
    width: calc(100% / 3);
    text-align: start;
    padding-left: 20px;
}

.content-left > .button {
    display: inline-block;
}

.content-left {
    position: relative;
}

.fa-arrow-down {
    font-size: 26px;
    position: absolute;
    left: 20px;
    bottom: 90px;
}

.h-img {
    width: calc(100% / 3 * 2);
    background-image: url('../img/jumbo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* End of header-down */
/* End of header */

/* Start of main */
/* Start of main-container-1 */
.main-container-1 {
    width: 70%;
    margin: 50px auto 0px auto;
}

.m-content-1 {
    width: 100%;
}

/* Start of first row */
.m-content-1 > .first-title {
    font-size: 30px;
}
/* End of first row */

/* Start of second row */
.m-content-1.second {
    display: flex;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: grey solid 2px;
    margin-right: 5px;
}

.circle.selected {
    border: #0061ff solid 6px;
}

.left-circle-text {
    margin-right: 40px;
}
/* End of second row */

/* Start of third row */
.m-content-1.third {
    display: flex;
    height: 400px;
}

.third-row-column {
    width: calc(100% / 3 - 20px);
    border: dashed 2px red;
    height: 100%;
}

.third-row-column.left, .third-row-column.center {
    margin-right: 30px;
}


/* End of third row */


/* Start of main-container-2*/
.main-container-2 {
    width: 100%;
}

.m-content-2-down {
    width: 70%;
    margin: auto;
}

/* Start of main-container-1 bottom */
.main-container-1.bottom {
    margin-bottom: 50px;
}

/* Start of footer */
footer {
    width: 100%;
}

/* Reusable code */
.button {
    background-color: #0061ff;
    color: #fff;
    padding: 15px;
}

/* Following code is used only for debug purposes*/
.debug {
    border: 1px dashed red;
}

/* start of header*/
header.debug {
    background-color: aqua;
}
/*
.header-up {
    background-color: antiquewhite;
}*/
/*
.header-up > div {
    background-color: blueviolet;
}*/



.h-down-center {
    background-color: lightpink;
}

/* start of main */
.m-content-1 {
    height: 200px;
    background-color: blueviolet;
}

.m-container-2-up {
    background-color: lightblue;
    height: 100px;
}

.m-container-2-down {
    background-color: lightcoral;
    height: 100px;
}

.m-content-1.bottom {
    background-color: lightcyan;
    height: 100px;
}

/* start of footer */

footer {
    height: 400px;
    background-color: lightgoldenrodyellow;
}

.footer-container {
    width: 80%;
    margin: 50px auto;
    height: 200px;
    background-color: lightgray;
}

/* Best viewed with 1184px width */

/* To do list:
+ clickable links
+ all buttons = same style
+ 